1.Igual que en los ejercicios de la clase invertida, evalúa si las siguientes afirmaciones corresponden a una distribución exponencial o poisson.

In [2]:
#Referecia:
#Exponencial: se usa para modelar el tiempo e/ eventos, como tiempos de espera.
#           Eventos independientes:eventos que ocurren de manera aleatoria e independiente en el tiempo.
#           Tiempo e/eventos:la variable de interés es el tiempo que transcurre e/ eventos sucesivos 
#           Duración positiva: el tiempo es una variable siempre positiva.
# 
# #Poisson: modela probabilidad de un numero dado de eventos que ocurran en un intervalo fijo de tiempo o espacio
#           Eventos independientes:la ocurrencia de un evento no afecta a la ocurrencia del otro.
#           Test estadísticos: prueba de bondad del ajuste.

¿El tiempo que transcurre entre la llegada de autobuses a una parada sigue una distribución exponencial o de Poisson?

In [3]:
#Exponencial; la llegada de autobuses ocurre de manera aleatoria, la variable de interés es el tiempo que 
# transcurre e/ eventos sucesivos.

¿El número de errores en un artículo de noticias sigue una distribución exponencial o de Poisson?

In [4]:
#Poisson; el número de errorres son eventos raros o independiente en un intervalo de tiempo o espacio fijo, 
# en este caso en un artículo de noticias.

¿El tiempo que transcurre entre la llegada de solicitudes de servicio en un restaurante sigue una distribución exponencial o de Poisson?

In [5]:
#Exponencial: estamos hablando de el tiempo e/ los eventos (solicitudes)

¿El número de accidentes de tráfico en una hora en una ciudad sigue una distribución exponencial o de Poisson?

In [6]:
#Poisson; eventos ocurren en un intervalo fijo de tiempo y/o espacio.

¿El tiempo entre llegadas de llamadas telefónicas a una central de emergencias sigue una distribución exponencial o de Poisson?

In [7]:
#Exponencial: hablamos del tiempo que transcurre, no de la llamada telefónica.

¿El número de clientes que ingresan a una tienda en una hora sigue una distribución exponencial o de Poisson?

In [8]:
#Poisson: hablamos de número de clientes que correponde a una variable discreta, 
# no del tiempo que pasa e/ clientes.

¿El tiempo entre llegadas de correos electrónicos en una bandeja de entrada sigue una distribución exponencial o de Poisson?

In [9]:
#Exponencial:hablamos del tiempo que transcurre e/ los eventos.

¿El número de defectos en una línea de producción por día sigue una distribución exponencial o de Poisson?

In [10]:
#Poisson; los defectos son eventos independientes y ocurren a una tasa constante.

¿El tiempo que transcurre entre la llegada de taxis en una parada sigue una distribución exponencial o de Poisson?

In [11]:
#Exponencial.

¿El número de errores de ortografía en un libro de texto sigue una distribución exponencial o de Poisson?

In [12]:
#Poisson.

2.Ejercicios intervalo de confianza. Al igual que en el caso del ejercicio de la clase invertida, piensa un motivo por el que sería interesante calcular estos intervalos de confianza para la extracción de insights.

In [13]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [14]:
df_inferencial=pd.read_csv("df_wd_total_copia.csv",index_col=0)
df_inferencial.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud,continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.90,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.70,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.20,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,31.2,2.7,Andorra la Vella,73.2,NaN,6.63,Catalan,36.4,3.33,77142.0,62.45,16.3,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.50,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa

Intervalo de Confianza para la Esperanza de Vida
Contexto: Trabajas en una organización de salud global y deseas estimar el intervalo de confianza al 95% para la esperanza de vida promedio de cada continente.
Nota: Cuidado porque puede que os salgan algunos nulos, genera un código para que no salgan nulos en los intervalos de confianza.

In [49]:

# Calcular la media y el error estándar de la muestra
media_esperanza = df_inferencial.groupby("continent")["lifeexpectancy"].mean()
error_esperanza = df_inferencial.groupby("continent")["lifeexpectancy"].apply(lambda x: stats.sem(x, nan_policy='omit'))
# si calcular el error std es stats.sem(df_ejercicios["lifeexpectancy"])la lambda hace que se calcule para x.
# el argumento nan_policy='omit' se utiliza para manejar los valores NaN (Not a Number)
# en el conjunto de datos, omitiéndolos durante el cálculo.

nivel_confianza_esperanza = 0.95

# calculamos los grados de libertad de la muestra. Recordad que debemos restar el total de datos que tenemos -1. 
grados_libertad_esperanza = len(df_inferencial.groupby("continent")["lifeexpectancy"]) - 1

# Calcular el valor crítico (utilizando la distribución t de Student)
valor_critico_esperanza = stats.t.ppf((1 + nivel_confianza_esperanza) / 2, df=grados_libertad_esperanza)

# Calcular el intervalo de confianza
limite_inferior_esperanza = media_esperanza - valor_critico_esperanza * error_esperanza
limite_superior_esperanza = media_esperanza + valor_critico_esperanza * error_esperanza

df_intervalo_confianza_esperanza = pd.DataFrame({
    'Continente': media_esperanza.index,
    'Media esperanza': np.round(media_esperanza, 2),
    'Error Estándar': np.round(error_esperanza, 2),
    'Nivel de Confianza': nivel_confianza_esperanza,
    'Valor Crítico': np.round(valor_critico_esperanza, 2),
    'Limite Inferior': np.round(limite_inferior_esperanza, 2),
    'Limite Superior': np.round(limite_superior_esperanza, 2)})
    
# para poder crear una columna como intervalo de confianza que contenga los límites inferior y superior:

df_intervalo_confianza_esperanza['Intervalo de Confianza'] = df_intervalo_confianza_esperanza['Limite Inferior'].astype(str) + '-' + df_intervalo_confianza_esperanza['Limite Superior'].astype(str)


df_intervalo_confianza_esperanza.reset_index(drop=True, inplace=True)

display(df_intervalo_confianza_esperanza)

,Continente,Media esperanza,Error Estándar,Nivel de Confianza,Valor Crítico,Limite Inferior,Limite Superior,Intervalo de Confianza
0,Africa,63.90,0.84,0.95,2.45,61.86,65.95,61.86-65.95
1,Asia,73.99,0.68,0.95,2.45,72.32,75.66,72.32-75.66
2,Europe,78.79,0.59,0.95,2.45,77.35,80.22,77.35-80.22
3,North America,75.11,0.77,0.95,2.45,73.23,77.00,73.23-77.0
4,Oceania,71.42,1.46,0.95,2.45,67.86,74.98,67.86-74.98
5,South America,74.93,0.90,0.95,2.45,72.72,77.14,72.72-77.14
6,Unknown,70.20,NaN,0.95,2.45,NaN,NaN,nan-nan

Intervalo de Confianza para el PIB
Contexto: Eres una economista y quieres calcular el intervalo de confianza al 90% para el Producto Interno Bruto (PIB) de los continentes.

In [58]:

# Calcular la media y el error estándar de la muestra
media_PIB = df_inferencial.groupby("continent")["gdp"].mean()
error_PIB = df_inferencial.groupby("continent")["gdp"].apply(lambda x: stats.sem(x, nan_policy='omit'))
# si calcular el error std es stats.sem(df_ejercicios["lifeexpectancy"])la lambda hace que se calcule para x.
# el argumento nan_policy='omit' se utiliza para manejar los valores NaN (Not a Number)
# en el conjunto de datos, omitiéndolos durante el cálculo.

nivel_confianza_PIB = 0.90

# calculamos los grados de libertad de la muestra. Recordad que debemos restar el total de datos que tenemos -1. 
grados_libertad_PIB = len(df_inferencial.groupby("continent")["gdp"]) - 1

# Calcular el valor crítico (utilizando la distribución t de Student)
valor_critico_PIB = stats.t.ppf((1 + nivel_confianza_PIB) / 2, df=grados_libertad_PIB)

# Calcular el intervalo de confianza
limite_inferior_PIB = media_PIB - valor_critico_PIB * error_PIB
limite_superior_PIB = media_PIB + valor_critico_PIB * error_PIB

df_intervalo_confianza_PIB = pd.DataFrame({
    'Continente': media_PIB.index,
    'Media esperanza': np.round(media_PIB, 2),
    'Error Estándar': np.round(error_PIB, 2),
    'Nivel de Confianza': nivel_confianza_PIB,
    'Valor Crítico': np.round(valor_critico_PIB, 2),
    'Limite Inferior': np.round(limite_inferior_PIB, 2),
    'Limite Superior': np.round(limite_superior_PIB, 2)})
    
# para poder crear una columna como intervalo de confianza que contenga los límites inferior y superior:

df_intervalo_confianza_PIB['Intervalo de Confianza'] = df_intervalo_confianza_PIB['Limite Inferior'].astype(str) + '-' + df_intervalo_confianza_PIB['Limite Superior'].astype(str)


df_intervalo_confianza_PIB.reset_index(drop=True, inplace=True)

display(df_intervalo_confianza_PIB)

,Continente,Media esperanza,Error Estándar,Nivel de Confianza,Valor Crítico,Limite Inferior,Limite Superior,Intervalo de Confianza
0,Africa,4.608056e+10,1.205256e+10,0.9,1.94,2.266026e+10,6.950086e+10,22660261454.28-69500856833.45
1,Asia,8.007087e+11,4.339626e+11,0.9,1.94,-4.255881e+10,1.643976e+12,-42558813699.68-1643976313297.38
2,Europe,5.021790e+11,1.318720e+11,0.9,1.94,2.459280e+11,7.584300e+11,245927965962.97-758430043436.42
3,North America,1.085123e+12,9.289984e+11,0.9,1.94,-7.200885e+11,2.890334e+12,-720088501152.15-2890334099970.93
4,Oceania,1.167886e+11,9.923009e+10,0.9,1.94,-7.603339e+10,3.096105e+11,-76033393827.61-309610505332.19
5,South America,3.212948e+11,1.465427e+11,0.9,1.94,3.653585e+10,6.060538e+11,36535847900.8-606053770315.87
6,Unknown,4.290166e+08,NaN,0.9,1.94,NaN,NaN,nan-nan

Intervalo de Confianza para la Tasa de Natalidad
Contexto: Trabajas en una agencia gubernamental que se ocupa de cuestiones demográficas y deseas determinar el intervalo de confianza al 99% para la tasa de natalidad promedio en Asia.

In [55]:
media_natalidad = df_inferencial.groupby("continent")["birthrate"].mean()
error_natalidad = df_inferencial.groupby("continent")["birthrate"].apply(lambda x: stats.sem(x, nan_policy='omit'))
# si calcular el error std es stats.sem(df_ejercicios["units_sold"])la lambda hace que se calcule para x.
# el argumento nan_policy='omit' se utiliza para manejar los valores NaN (Not a Number)
# en el conjunto de datos, omitiéndolos durante el cálculo.
nivel_confianza_natalidad = 0.99
grados_libertad_natalidad = len(df_inferencial.groupby("continent")["birthrate"]) - 1
valor_critico_natalidad = stats.t.ppf((1 + nivel_confianza_natalidad) / 2, df=grados_libertad_natalidad)
limite_inferior_natalidad = media_natalidad - valor_critico_natalidad * error_natalidad
limite_superior_natalidad = media_natalidad + valor_critico_natalidad * error_natalidad

 #creamos un dataframe para que se vea mejor todas las estadísticas

df_intervalo_confianza_natalidad = pd.DataFrame({
    'Continente': media_natalidad.index,
    'Media natalidad': np.round(media_natalidad, 2),
    'Error Estándar': np.round(error_natalidad, 2),
    'Nivel de Confianza': nivel_confianza_natalidad,
    'Valor Crítico': np.round(valor_critico_natalidad, 2),
    'Limite Inferior': np.round(limite_inferior_natalidad, 2),
    'Limite Superior': np.round(limite_superior_natalidad, 2)})
    
# para poder crear una columna como intervalo de confianza que contenga los límites inferior y superior

df_intervalo_confianza_natalidad['Intervalo de Confianza'] = df_intervalo_confianza_natalidad['Limite Inferior'].astype(str) + '-' + df_intervalo_confianza_natalidad['Limite Superior'].astype(str)




df_intervalo_confianza_natalidad.reset_index(drop=True, inplace=True)

display(df_intervalo_confianza_natalidad)

print("------------------------------")

#filtramos el dataframe para que aparezca los estadísticos para "Asia"
condicion_natalidad= df_intervalo_confianza_natalidad["Continente"]=="Asia"
df_intervalo_confianza_natalidad[condicion_natalidad]

,Continente,Media natalidad,Error Estándar,Nivel de Confianza,Valor Crítico,Limite Inferior,Limite Superior,Intervalo de Confianza
0,Africa,31.64,1.06,0.99,3.71,27.73,35.56,27.73-35.56
1,Asia,18.45,0.93,0.99,3.71,15.00,21.90,15.0-21.9
2,Europe,10.09,0.34,0.99,3.71,8.84,11.34,8.84-11.34
3,North America,16.02,0.92,0.99,3.71,12.60,19.43,12.6-19.43
4,Oceania,22.38,1.77,0.99,3.71,15.80,28.95,15.8-28.95
5,South America,17.37,0.86,0.99,3.71,14.17,20.58,14.17-20.58
6,Unknown,31.54,NaN,0.99,3.71,NaN,NaN,nan-nan

------------------------------

,Continente,Media natalidad,Error Estándar,Nivel de Confianza,Valor Crítico,Limite Inferior,Limite Superior,Intervalo de Confianza
1,Asia,18.45,0.93,0.99,3.71,15.0,21.9,15.0-21.9

Intervalo de Confianza para la Tasa de Desempleo
Contexto: Eres un analista de políticas públicas y deseas calcular el intervalo de confianza al 95% para la tasa de desempleo promedio en los países de Oceanía.

In [42]:
media_desempleo = df_inferencial.groupby("continent")["unemploymentrate"].mean()
error_desempleo = df_inferencial.groupby("continent")["unemploymentrate"].apply(lambda x: stats.sem(x, nan_policy='omit'))
# si calcular el error std es stats.sem(df_ejercicios["units_sold"])la lambda hace que se calcule para x.
# el argumento nan_policy='omit' se utiliza para manejar los valores NaN (Not a Number)
# en el conjunto de datos, omitiéndolos durante el cálculo.
nivel_confianza_desempleo = 0.95
grados_libertad_desempleo = len(df_inferencial.groupby("continent")["unemploymentrate"]) - 1
valor_critico_desempleo = stats.t.ppf((1 + nivel_confianza_natalidad) / 2, df=grados_libertad_desempleo)
limite_inferior_desempleo = media_desempleo - valor_critico_desempleo * error_desempleo
limite_superior_desempleo = media_desempleo + valor_critico_desempleo * error_desempleo

#creamos un dataframe para que se vea mejor todas las estadísticas

df_intervalo_confianza_desempleo = pd.DataFrame({
    'Continente': media_desempleo.index,
    'Media desempleo': np.round(media_desempleo, 2),
    'Error Estándar': np.round(error_desempleo, 2),
    'Nivel de Confianza': nivel_confianza_desempleo,
    'Valor Crítico': np.round(valor_critico_desempleo, 2),
    'Limite Inferior': np.round(limite_inferior_desempleo, 2),
    'Limite Superior': np.round(limite_superior_desempleo, 2)})
    
#una alternativa al bucle for para tuplas de la celda anterior, 
# para poder crear una columna como intervalo de confianza que contenga los límites inferior y superior

df_intervalo_confianza_desempleo['Intervalo de Confianza'] = df_intervalo_confianza_desempleo['Limite Inferior'].astype(str) + '-' + df_intervalo_confianza_desempleo['Limite Superior'].astype(str)

df_intervalo_confianza_desempleo.reset_index(drop=True, inplace=True)

display(df_intervalo_confianza_desempleo)

print("--------------------")

condicion_desempleo= df_intervalo_confianza_desempleo["Continente"]=="Oceania"
df_intervalo_confianza_desempleo[condicion_desempleo]

,Continente,Media desempleo,Error Estándar,Nivel de Confianza,Valor Crítico,Limite Inferior,Limite Superior,Intervalo de Confianza
0,Africa,7.88,0.90,0.95,3.71,4.55,11.22,4.55-11.22
1,Asia,5.66,0.63,0.95,3.71,3.34,7.98,3.34-7.98
2,Europe,6.64,0.66,0.95,3.71,4.18,9.10,4.18-9.1
3,North America,8.26,1.28,0.95,3.71,3.53,12.98,3.53-12.98
4,Oceania,3.79,0.87,0.95,3.71,0.55,7.04,0.55-7.04
5,South America,7.58,0.90,0.95,3.71,4.25,10.91,4.25-10.91
6,Unknown,13.37,NaN,0.95,3.71,NaN,NaN,nan-nan

--------------------

,Continente,Media desempleo,Error Estándar,Nivel de Confianza,Valor Crítico,Limite Inferior,Limite Superior,Intervalo de Confianza
4,Oceania,3.79,0.87,0.95,3.71,0.55,7.04,0.55-7.04

Intervalo de Confianza para la Tasa de Impuestos
Contexto: Trabajas en un ministerio de finanzas y deseas estimar el intervalo de confianza al 90% para la tasa de impuestos promedio en los países de África.

In [56]:
media_tax = df_inferencial.groupby("continent")["totaltaxrate"].mean()
error_tax = df_inferencial.groupby("continent")["totaltaxrate"].apply(lambda x: stats.sem(x, nan_policy='omit'))

nivel_confianza_tax = 0.90
grados_libertad_tax = len(df_inferencial.groupby("continent")["totaltaxrate"]) - 1
valor_critico_tax = stats.t.ppf((1 + nivel_confianza_tax) / 2, df=grados_libertad_tax)
limite_inferior_tax = media_tax - valor_critico_tax * error_tax
limite_superior_tax = media_tax + valor_critico_tax * error_tax

#creamos un dataframe para que se vea mejor todas las estadísticas

df_intervalo_confianza_tax = pd.DataFrame({
    'Continente': media_tax.index,
    'Media tax': np.round(media_tax, 2),
    'Error Estándar': np.round(error_tax, 2),
    'Nivel de Confianza': nivel_confianza_tax,
    'Valor Crítico': np.round(valor_critico_tax, 2),
    'Limite Inferior': np.round(limite_inferior_tax, 2),
    'Limite Superior': np.round(limite_superior_tax, 2)})
    

# para poder crear una columna como intervalo de confianza que contenga los límites inferior y superior

df_intervalo_confianza_tax['Intervalo de Confianza'] = df_intervalo_confianza_tax['Limite Inferior'].astype(str) + '-' + df_intervalo_confianza_tax['Limite Superior'].astype(str)

df_intervalo_confianza_tax.reset_index(drop=True, inplace=True)

display(df_intervalo_confianza_tax)

print("--------------------")

condicion_tax= df_intervalo_confianza_tax["Continente"]=="Africa"
df_intervalo_confianza_tax[condicion_tax]

,Continente,Media tax,Error Estándar,Nivel de Confianza,Valor Crítico,Limite Inferior,Limite Superior,Intervalo de Confianza
0,Africa,47.77,4.04,0.9,1.94,39.92,55.62,39.92-55.62
1,Asia,32.04,2.12,0.9,1.94,27.91,36.16,27.91-36.16
2,Europe,38.65,1.79,0.9,1.94,35.17,42.13,35.17-42.13
3,North America,40.70,1.96,0.9,1.94,36.89,44.51,36.89-44.51
4,Oceania,39.52,5.69,0.9,1.94,28.46,50.58,28.46-50.58
5,South America,53.34,7.40,0.9,1.94,38.97,67.72,38.97-67.72
6,Unknown,37.00,NaN,0.9,1.94,NaN,NaN,nan-nan

--------------------

,Continente,Media tax,Error Estándar,Nivel de Confianza,Valor Crítico,Limite Inferior,Limite Superior,Intervalo de Confianza
0,Africa,47.77,4.04,0.9,1.94,39.92,55.62,39.92-55.62

3.Ejercicios prueba de hipótesis: Hasta ahora en la lección y en los ejercicios de la clase invertida os hemos propuesto un contexto y unas hipótesis para entender que es la prueba de hipótesis. Ahora es tu turno, tienes que pensar en 2 hipótesis que quieras aceptar o rechazar usando una prueba de hipótesis en base a los datos que tenemos.

PRIMERA HIPOTESIS:

H0: No hay diferencias en el promedio de la densidad  de población e/ Asia y Africa 

H1: Hay una diferencia significativa en el promedio de la densidad  de población e/ Asia y Africa

SEGUNDA HIPOTESIS:

H0:No hay diferencias en la tasa promedio de natalidad e/ Europa y Africa.

H1:Hay una diferencia significativa en la tasa promedio de natalidad e/ Europa y Africa.

In [61]:
# vamos a definir una función para poder hacer el t-test de Student

def prueba_hipotesis(*args):
    
    # lo primero que tenemos que hacer es mirar si las varianzas son iguales o no
    if len(args) == 2:
        p_valor_varianza = stats.levene(*args, center = "median")[1]
    else:
        p_valor_varianza = stats.bartlett(*args)[1]
    
    if p_valor_varianza > 0.05:
        # realizamos la prueba t de Student
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=True)
    else:
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=False)
        
    # Establecemos un nivel de significancia (alfa)
    alfa = 0.05

    # comparamos el p-valor con el nivel de significancia
    if p_valor < alfa:
        print("Rechazamos la hipótesis nula.")
        print("Hay una diferencia significativa en los ingresos promedio entre los dos grupos.")
    else:
        print("No podemos rechazar la hipótesis nula.")
        print("No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.")

In [70]:
df_asia = df_inferencial[df_inferencial["continent"] == "Asia"]
density_asia = df_asia["density"]
df_africa = df_inferencial[df_inferencial["continent"] == "Africa"]
density_africa = df_africa["density"]

prueba_hipotesis(density_asia,density_africa)

No podemos rechazar la hipótesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

In [73]:
df_europe=df_inferencial[df_inferencial["continent"]=="Europe"]
birthrate_europe=df_europe["birthrate"]
df_africa=df_inferencial[df_inferencial["continent"]=="Africa"]
birthrate_africa=df_africa["birthrate"]

prueba_hipotesis(birthrate_africa,birthrate_europe)

Rechazamos la hipótesis nula.
Hay una diferencia significativa en los ingresos promedio entre los dos grupos.